.letter {
    /* max-width: 800px;
    margin: 50px auto; */
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.address-container {
    display: flex;
    justify-content: space-between;
}

.recipient-address {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sender-address{
    margin-top: 12px;
}

p {
    margin: 0;
    line-height: 1.5;
}

address p:first-child, date p:first-child, subject p:first-child {
    font-weight: bold;
}

.date{
    text-align: right;
    margin-top: 10px;
}

.body{
    background-image: url('log2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (max-width: 600px) {
    .letter {
        padding: 10px;
    }
}





img {
    max-width: 100%;
    height: auto;
}
/* ... rest of the CSS code ... */


/* ... previous CSS code ... */
.addresses {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically align items */
    margin-bottom: 20px;
}

.sender-address, .recipient-address {
    flex: 1;
}

.address-image {
    flex: 0 0 auto; /* Don't grow or shrink, fixed width */
    margin-right: 10px; /* Adjust margin as needed */
}


/* ... Styling of the table ... */
.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    border-radius: .8rem;
    overflow: hidden;
}

.table thead{
    background-color: #05c021;
}

.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
}

tbody tr{
    height: 25px;
}

tbody tr td{
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}